html {
  color-scheme: light dark;
}
body {
  font-family: system-ui, sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}
main {
  width: min(calc(100% - 2rem), 60ch);
  margin-inline: auto;
}
header, nav {
  display: flex;
  gap: 0.4rem 1rem;
  flex-wrap: wrap;
}
header {
  padding-inline: 1rem;
  justify-content: space-between;
  align-items: center;
}
header, footer, h2 {
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
}
nav {
  margin-block-start: 0.25em;
}
nav a:not(:hover, :focus, :focus-visible) {
  text-decoration: none;
}
h1 {
  margin-block: 0;
}
h2, h3, b, strong {
  font-weight: 500;
}
h2 {
  margin-block: 1.5em 0.5em;
}
li {
  margin-block: 0.5em;
}
iframe {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
}
footer {
  padding-inline: 0.5rem;
  text-align: end;
}