html {
  color-scheme: light dark;
}
body {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}
main {
  width: min(calc(100% - 2rem), 60ch);
  margin-inline: auto;
}
header, nav {
  display: flex;
  gap: 0.4rem 1rem;
  flex-wrap: wrap;
}
header {
  padding-inline: 1rem;
  justify-content: space-between;
  align-items: center;
}
nav {
  margin-block-start: 0.25em;
}
h1 {
  margin-block: 0;
}
li {
  margin-block: 0.5em;
}
iframe {
  display: block;
  margin-inline: auto;
  max-width: 100%;
}
footer {
  text-align: end;
}
