@font-face {
	font-family: 'Ships Whistle Italic';
	src:
	url('/assets/fonts/ShipsWhistle-Italic.woff2') format('woff2 supports variations'),
	url('/assets//fonts/ShipsWhistle-Italic.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Ships Whistle';
	src:
	url('/assets/fonts/ShipsWhistle-Regular.woff2') format('woff2 supports variations'),
	url('/assets/fonts/ShipsWhistle-Regular.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Ships Whistle Italic Rough';
	src:
	url('/assets/fonts/ShipsWhistle-ItalicRough.woff2') format('woff2 supports variations'),
	url('/assets/fonts/ShipsWhistle-ItalicRough.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Ships Whistle Rough';
	src:
	url('/assets/fonts/ShipsWhistle-Rough.woff2') format('woff2 supports variations'),
	url('/assets/fonts/ShipsWhistle-Rough.woff2') format('woff2-variations');
}
* {
  box-sizing: border-box;
}
html {
  --lightness: 50%;
  --chroma: 0.25;
  --theme: oklch(var(--lightness) var(--chroma) var(--hue));
  --theme-plus-90: oklch(var(--lightness) var(--chroma) calc(var(--hue) + 90));
  --theme-minus-90: oklch(var(--lightness) var(--chroma) calc(var(--hue) - 90));
  --invert-theme: oklch(var(--lightness) var(--chroma) calc(var(--hue) + 180));
  --theme-strength: 12.5%;
  --accent-color: oklch(50% 0.2 var(--hue));
  --text: color-mix(in srgb, var(--theme) var(--theme-strength), CanvasText);
  --link: color-mix(in srgb, var(--invert-theme) 40%, CanvasText);
  --vlink: color-mix(in srgb, var(--invert-theme) 20%, CanvasText);
  --alink: color-mix(in srgb, var(--invert-theme) 60%, CanvasText);
  --background: color-mix(in srgb, var(--theme) var(--theme-strength), Canvas);
  --display-font: 'Ships Whistle Rough', ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
}
body {
  font-family: system-ui, sans-serif;
  color: var(--text);
  background-color: var(--background);
  accent-color: var(--accent-color);
}
main {
  font-size: clamp(0.9rem, 1rem + 0.5vw, 1.2rem);
  line-height: 1.4;
  width: min(calc(100% - 1rem), 60ch);
  margin-inline: auto;
}
header, nav {
  display: flex;
  gap: 0.4rem 1rem;
  flex-wrap: wrap;
}
header {
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
#skiplink {
	position: absolute;
  top: 1em;
  left: 1em;
	padding: 0.25em;
	scale: 0;
	background-color: var(--background);
}
#skiplink:focus-visible {
	scale: 1;
	transition: scale 0.25s ease;
}
#sitename, nav a:not(:hover, :focus, :focus-visible) {
  color: inherit;
  text-decoration: none;
}
#sitename {
  font-family: 'Ships Whistle Italic Rough';
	font-feature-settings: 'ss01';
  font-size: clamp(3.5rem, 1rem + 5vw, 5rem);
  font-weight: 400;
  margin-block: 0;
}
nav, footer, h1, h2, h3 {
  font-family: var(--display-font);
	font-feature-settings: 'ss01';
}
nav {
  margin-block-start: 0.25em;
  font-size: clamp(1.4rem, 1rem + 1vw, 2rem);
}
#switches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (360px < width < 500px) {
  #switches {
    display: flex;
    flex-wrap: wrap;
  }
}
.hue-slider {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / span 3;
  padding: 1px 6px;
}
#hueSlider {
  max-width: 8em;
}
button, .hue-slider, .notice {
  border: 1px solid var(--text);
  border-radius: 0.25em;
  margin: 0.1em;
  color: inherit;
  background-color: Canvas;
  font-family: var(--display-font);
  font-size: 1.1em;
}
button:hover, #switches button[aria-pressed="true"] { color:var(--link) }
button:active { translate: 1px 1px }
.notice {
  margin-inline: 1rem;
  padding: 1em;
}
h1, h2, h3, b, strong {
  font-weight: 500;
}
h1, h2, h3 {
  margin-block: 1em 0.5em;
}
h1 { font-size: 2.5em }
h2 { font-size: 2.0em }
h3 { font-size: 1.5em }
li { margin-block: 0.5em }
a:link { color: var(--link) }
a:visited { color: var(--vlink) }
a:hover, a:active { color: var(--alink) }
iframe {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
}
footer {
  padding-inline: 0.5rem;
  text-align: end;
}

.word-art {
  font-family: 'Ships Whistle Italic Rough';
	font-feature-settings: 'ss01';
  --divider: 5.5;
  font-size: min(calc( 60ch / var(--divider) ), calc( 100vw / var(--divider) ));
  text-align: center;
  color: transparent;
  background: linear-gradient(45deg, var(--theme), var(--theme-plus-90), var(--invert-theme), var(--theme-minus-90), var(--theme));
  background-clip: text;
  -webkit-background-clip: text;
  margin-block: 0.25em;
}
.word-art:before {
  position: absolute;
  z-index: -1;
  color: CanvasText;
  content: "Whimsica11y";
  width: inherit;
  height: inherit;
  transform: translateX(-0.4em) translateY(0.17em) skewX(50deg) scaleY(0.65);
  opacity: 0.25;
  filter: blur(0.03em);
}