<!DOCTYPE html>
<html lang="en" style="--hue: 180;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>Whimsica11y | {{ title }}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💖</text></svg>">
    <link rel="me" href="https://front-end.social/@sarajw">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
  		<a id="skiplink" href="#content">Skip to Content</a>
      <a id="sitename" href="/">Whimsica11y</a>
      <div id="switches" aria-label="color mode switches">
        <button id="lightSwitch" aria-pressed="false" type="button" onclick="switchLight()">Light</button>
        <button id="darkSwitch" aria-pressed="false" type="button" onclick="switchDark()">Dark</button>
        <button id="autoSwitch" aria-pressed="true" type="button" onclick="switchAuto()">Auto</button>
        <button id="hueSwitch" type="button" onclick="advanceHue()">Hue&ThinSpace;&gt;</button>
      </div>
      <nav>
        <a href="/">home</a>
        <a href="/disability">disability</a>
        <a href="/guide">guide</a>
        <a href="/testing">testing</a>
        <a href="/links">links</a>
      </nav>
    </header>
    <main id="content">
      {{ content }}
    </main>
    <footer>
      <p>made with joy by <a href="https://sarajoy.dev">Sara</a> :)</p>
    </footer>
    <script>
      const colorScheme = document.querySelector('meta[name="color-scheme"]');
      const html = document.querySelector('html');
      const lightSwitch = document.querySelector('#lightSwitch');
      const darkSwitch = document.querySelector('#darkSwitch');
      const autoSwitch = document.querySelector('#autoSwitch');
      const hueSwitch = document.querySelector('#hueSwitch');
      const mode = sessionStorage.getItem("mode");
      const hueMode = sessionStorage.getItem("hue");

      function switchDark() {
        colorScheme.setAttribute("content", "dark");
        sessionStorage.setItem("mode", "dark");
        lightSwitch.setAttribute("aria-pressed","false");
        darkSwitch.setAttribute("aria-pressed","true");
        autoSwitch.setAttribute("aria-pressed","false");
      }
      function switchLight() {
        colorScheme.setAttribute("content", "light");
        sessionStorage.setItem("mode", "light");
        lightSwitch.setAttribute("aria-pressed","true");
        darkSwitch.setAttribute("aria-pressed","false");
        autoSwitch.setAttribute("aria-pressed","false");
      }
      function switchAuto() {
        colorScheme.setAttribute("content", "light dark");
        sessionStorage.removeItem("mode");
        lightSwitch.setAttribute("aria-pressed","false");
        darkSwitch.setAttribute("aria-pressed","false");
        autoSwitch.setAttribute("aria-pressed","true");
      }

      function advanceHue() {
        const hue = html.style.getPropertyValue("--hue");
        let newHue = Number(hue) + 36;
        if (newHue >=360) {
          newHue = newHue - 360;
        }
        hueSwitch.setAttribute("aria-pressed","true");
        if (newHue == 180) {
          hueSwitch.setAttribute("aria-pressed","false");
        }
        sessionStorage.setItem("hue", newHue);
        html.style.setProperty("--hue", newHue);
      }

      //check for session preferences
      if (mode) {
        if (mode === "dark") {switchDark();}
        else if (mode === "light") {switchLight();}
      }
      if (hueMode) {
        html.style.setProperty("--hue", hueMode);
      }
    </script>
  </body>
</html>
