<!DOCTYPE html>
<html lang="en" style="--hue: 222;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="RebeccaPurple">
    <meta property="og:title" content="Whimsica11y">
    <meta name="description" content="A site about web accessibility for hobbyists on the personal web.">
    <meta property="og:description" content="A site about web accessibility for hobbyists on the personal web.">
    <meta property="og:type" content="webite">
    <meta property="og:url" content="https://whimsica11y.net/">
    <meta property="og:image" content="https://whimsica11y.net/assets/images/whimsica11y.png">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💖</text></svg>">
    <link rel="me" href="https://front-end.social/@sarajw">
    <link href="/style.css" rel="stylesheet">
    <title>Whimsica11y | {{ title }}</title>
  </head>
  <body>
    <header>
  		<a id="skiplink" href="#content">Skip to Content</a>
      <div class="word-art">
        <a id="sitename" href="/">Whimsica11y</a>
      </div>
      <div id="switches" aria-label="color mode changers">
          <button id="lightSwitch" aria-pressed="false" type="button" onclick="switchLight()">Light</button><button id="darkSwitch" aria-pressed="false" type="button" onclick="switchDark()">Dark</button><button id="autoSwitch" aria-pressed="true" type="button" onclick="switchAuto()">Auto</button>
        <div class="hue-slider">
          <label for="hueSlider">Hue&ThinSpace;</label><input id="hueSlider" type="range" min="0" max="360" value="222">
        </div><button id="monoSwitch" aria-pressed="false" type="button" onclick="toggleMono()">Mono</button>
      </div>
      <nav>
        <a href="/">home</a>
        <a href="/disability">disability</a>
        <a href="/guide">guide</a>
        <a href="/testing">testing</a>
        <a href="/links">links</a>
      </nav>
    </header>
    <main id="content">
      {{ content }}
    </main>
    <footer>
      <p>made with joy by <a href="https://sarajoy.dev">Sara</a> :)</p>
    </footer>
    <script>
      const colorScheme = document.querySelector('meta[name="color-scheme"]');
      const html = document.querySelector('html');
      const lightSwitch = document.querySelector('#lightSwitch');
      const darkSwitch = document.querySelector('#darkSwitch');
      const autoSwitch = document.querySelector('#autoSwitch');
      const monoSwitch = document.querySelector('#monoSwitch');
      const hueSlider = document.querySelector('#hueSlider');
      const mode = sessionStorage.getItem("mode");
      const hueMode = sessionStorage.getItem("hue");
      let mono = sessionStorage.getItem("mono");

      function switchDark() {
        colorScheme.setAttribute("content", "dark");
        sessionStorage.setItem("mode", "dark");
        lightSwitch.setAttribute("aria-pressed","false");
        darkSwitch.setAttribute("aria-pressed","true");
        autoSwitch.setAttribute("aria-pressed","false");
      }
      function switchLight() {
        colorScheme.setAttribute("content", "light");
        sessionStorage.setItem("mode", "light");
        lightSwitch.setAttribute("aria-pressed","true");
        darkSwitch.setAttribute("aria-pressed","false");
        autoSwitch.setAttribute("aria-pressed","false");
      }
      function switchAuto() {
        colorScheme.setAttribute("content", "light dark");
        sessionStorage.removeItem("mode");
        lightSwitch.setAttribute("aria-pressed","false");
        darkSwitch.setAttribute("aria-pressed","false");
        autoSwitch.setAttribute("aria-pressed","true");
      }
      function toMono() {
        sessionStorage.setItem("mono", "true");
        monoSwitch.setAttribute("aria-pressed","true");
        html.classList.add("mono");
      }
      function fromMono() {
        sessionStorage.removeItem("mono");
        monoSwitch.setAttribute("aria-pressed","false");
        html.classList.remove("mono");
      }
      function toggleMono() {
        mono = sessionStorage.getItem("mono");
        if (mono) { fromMono(); }
        else { toMono(); }
      }

      hueSlider.addEventListener("input", () =>
      {
        html.style.setProperty("--hue", hueSlider.value);
        sessionStorage.setItem("hue", hueSlider.value);
      });

      //check for session preferences
      if (mode) {
        if (mode === "dark") {switchDark();}
        else if (mode === "light") {switchLight();}
      }
      if (mono) {
        toMono();
      }
      if (hueMode) {
        html.style.setProperty("--hue", hueMode);
        hueSlider.value = hueMode;
      }
    </script>
  </body>
</html>
